<div class="form mb-4">
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-4" >
        <field id="name" label="Nome" placeh="Informe o Nome"
               model="fCtrl.finance.name" readonly="fCtrl.tabDelete"></field>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-4" >
        <field id="month" label="Mês" placeh="Informe o Mês" type="number"
               model="fCtrl.finance.month" readonly="fCtrl.tabDelete"></field>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-4" >
        <field id="year" label="Ano" placeh="Informe o Ano" type="number"
               model="fCtrl.finance.year" readonly="fCtrl.tabDelete" ></field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <fieldset>
          <legend>Resumo</legend>
          <div ng-include="'finance/summary.html'"></div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <fieldset>
          <legend>Créditos</legend>
          <div ng-include="'finance/creditList.html'"></div>
        </fieldset>
      </div>

      <div class="col-xs-12 col-sm-6">
        <fieldset>
          <legend>Débitos</legend>
          <div ng-include="'finance/debtList.html'"></div>
        </fieldset>
      </div>
    </div>

  </div>

  <div class="box-footer">
    <button ng-if="fCtrl.tabCreate" class="btn btn-primary" ng-click="fCtrl.create()">Incluir</button>
    <button ng-click="fCtrl.update()" ng-if="fCtrl.tabUpdate"  class="btn btn-info">Alterar</button>
    <button ng-click="fCtrl.delete()" ng-if="fCtrl.tabDelete"  class="btn btn-danger">Excluir</button>
    <button ng-click="fCtrl.refresh()" class="btn btn-default">Cancelar</button>
  </div>
</div>
