<a href class="nav-link" data-toggle="dropdown">
  <img src="/assets/user.jpg" class="user-image" alt="User Image">
  <!-- user Name -->
  <span class="hidden-xs">{{:: auth.getUser().name }}
      <i class="right fa fa-angle-down"></i>
  </span>
</a>
<ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  <!-- User image -->
  <li class="user-header">
    <img src="/assets/user.jpg" class="img-circle" alt="User Image">
    <!-- name e email -->
    <p>
      {{:: auth.getUser().name }}
      <small>{{:: auth.getUser().email }}</small>
    </p>
  </li>
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-right">
      <a href class="btn btn-default btn-flat" ng-click="auth.logout()">Sair</a>
    </div>
  </li>
</ul>