 <!-- Brand Logo -->
  <a href="#" class="brand-link logo-switch">
      <span class="brand-text logo-xs"><b>F</b>Web</span>
      <span class="brand-text logo-xl"><i class='fa fa-leaf'></i> <b>Finace</b> WEB </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/user.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Carlos Cacho</a>
      </div>
    </div>

    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a  href class="nav-link" ui-sref="dashboard">
          <i class="nav-icon fa fa-dashboard"></i>
          <p>Dashboard</p>

        </a>
      </li>
      <li class="nav-item has-treeview menu-open">
        <a href="#" class="nav-link">
          <i class="nav-icon fa fa-edit"></i>
          <p>Cadastros
            <i class="right fa fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item" >
            <a href="#" class="nav-link" ui-sref="finance">
              <i class="nav-icon fa fa-usd"></i>
              <p>Ciclo de Pagamentos</p>
            </a>
          </li>
        </ul>
      </li>


    </ul>
    </nav>
  </div>
